In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import *

In [13]:
sami = pd.read_csv(r"F:\csv files\Property_with_Feature_Engineering.csv")

In [14]:
sami.head()

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
0,347795,8,https://www.zameen.com/Property/lahore_model_t...,House,220000000,Very High,Model Town,Lahore,Punjab,"Model Town, Lahore, Punjab",...,120.0,32670.12,For Sale,0,07-17-2019,2019,7,17,Real Biz International,Usama Khan
1,482892,48,https://www.zameen.com/Property/lahore_multan_...,House,40000000,Very High,Multan Road,Lahore,Punjab,"Multan Road, Lahore, Punjab",...,20.0,5445.02,For Sale,5,10-06-2018,2018,10,6,Khan Estate,mohsinkhan and B
2,555962,75,https://www.zameen.com/Property/eden_eden_aven...,House,9500000,Low,Eden,Lahore,Punjab,"Eden, Lahore, Punjab",...,9.0,2450.26,For Sale,3,07-03-2019,2019,7,3,Shahum Estate 2,"Babar Hameed, Raja Omar"
3,562843,3821,https://www.zameen.com/Property/gulberg_2_gulb...,House,125000000,Very High,Gulberg,Lahore,Punjab,"Gulberg, Lahore, Punjab",...,20.0,5445.02,For Sale,8,04-04-2019,2019,4,4,NaN,NaN
4,686990,3522,https://www.zameen.com/Property/allama_iqbal_t...,House,21000000,High,Allama Iqbal Town,Lahore,Punjab,"Allama Iqbal Town, Lahore, Punjab",...,11.0,2994.76,For Sale,6,04-04-2019,2019,4,4,NaN,NaN

In [15]:
sami.tail()

,property_id,location_id,page_url,property_type,price,price_bin,location,city,province_name,locality,...,area_marla,area_sqft,purpose,bedrooms,date_added,year,month,day,agency,agent
191388,17468383,174,https://www.zameen.com/Property/islamabad_i_8_...,Upper Portion,70000,Very High,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",...,12.4,3375.91,For Rent,3,07-24-2019,2019,7,24,Property World,Zafran
191389,17468384,174,https://www.zameen.com/Property/islamabad_i_8_...,Upper Portion,40000,Medium,I-8,Islamabad,Islamabad Capital,"I-8, Islamabad, Islamabad Capital",...,12.4,3375.91,For Rent,2,07-24-2019,2019,7,24,Property World,Zafran
191390,17468482,167,https://www.zameen.com/Property/islamabad_g_10...,House,160000,High,G-10,Islamabad,Islamabad Capital,"G-10, Islamabad, Islamabad Capital",...,20.0,5445.02,For Rent,6,07-24-2019,2019,7,24,Azaan Associates,Usman Rehman
191391,17468586,339,https://www.zameen.com/Property/dha_defence_dh...,Flat,25000,Low,DHA Defence,Islamabad,Islamabad Capital,"DHA Defence, Islamabad, Islamabad Capital",...,2.7,735.08,For Rent,2,07-24-2019,2019,7,24,New National Properties,TALHA MIAN AHMAD
191392,17468660,3421,https://www.zameen.com/Property/i_10_i_10_2_i_...,Upper Portion,26000,Low,I-10,Islamabad,Islamabad Capital,"I-10, Islamabad, Islamabad Capital",...,0.0,0.00,For Rent,3,07-24-2019,2019,7,24,Select Homes,"Qaiser Shahzad, Chaudhary Waseem"

In [16]:
sami.isnull().sum()

property_id          0
location_id          0
page_url             0
property_type        0
price                0
price_bin            0
location             0
city                 0
province_name        0
locality             0
latitude             0
longitude            0
baths                0
area                 0
area_marla           0
area_sqft            0
purpose              0
bedrooms             0
date_added           0
year                 0
month                0
day                  0
agency           47379
agent            47380
dtype: int64

In [17]:
print("Dimensions :",sami.shape)
sami.info()

Dimensions : (191393, 24)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191393 entries, 0 to 191392
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   property_id    191393 non-null  int64
 1   location_id    191393 non-null  int64
 2   page_url       191393 non-null  object
 3   property_type  191393 non-null  object
 4   price          191393 non-null  int64
 5   price_bin      191393 non-null  object
 6   location       191393 non-null  object
 7   city           191393 non-null  object
 8   province_name  191393 non-null  object
 9   locality       191393 non-null  object
 10  latitude       191393 non-null  float64
 11  longitude      191393 non-null  float64
 12  baths          191393 non-null  int64
 13  area           191393 non-null  object
 14  area_marla     191393 non-null  float64
 15  area_sqft      191393 non-null  float64
 16  purpose        191393 non-null  object
 17  bedrooms       191393 non-null  int64
 18  date_added     191393 non-null  object
 19  year           191393 non-null  int64
 20  month          191393 non-null  int64
 21  day            191393 non-null  int64
 22  agency         144014 non-null  object
 23  agent          144013 non-null  object
dtypes: float64(4), int64(8), object(12)
memory usage: 35.0+ MB

In [18]:
sami.shape

(191393, 24)

In [19]:
%matplot inline

UsageError: Line magic function `%matplot` not found.

In [20]:
sami.describe()

,property_id,location_id,price,latitude,longitude,baths,area_marla,area_sqft,bedrooms,year,month,day
count,1.913930e+05,191393.000000,1.913930e+05,191393.000000,191393.000000,191393.000000,191393.000000,1.913930e+05,191393.000000,191393.000000,191393.000000,191393.000000
mean,1.573170e+07,4224.580350,1.644655e+07,30.104593,71.572992,2.865956,14.573527,3.967656e+03,3.171516,2018.935687,6.212270,13.349631
std,2.215249e+06,3719.125201,3.416412e+07,3.645941,3.080463,2.435332,443.343252,1.207006e+05,1.952403,0.245310,1.815174,8.486820
min,8.657500e+04,1.000000,0.000000e+00,11.052446,25.906027,0.000000,0.000000,0.000000e+00,0.000000,2018.000000,1.000000,1.000000
25%,1.511867e+07,1057.000000,8.000000e+04,24.972287,67.152597,0.000000,4.900000,1.334030e+03,2.000000,2019.000000,6.000000,5.000000
50%,1.676385e+07,3233.000000,7.300000e+06,31.463563,73.077743,3.000000,7.600000,2.069110e+03,3.000000,2019.000000,7.000000,14.000000
75%,1.715282e+07,7182.000000,1.800000e+07,33.550869,74.228218,4.000000,12.000000,3.267010e+03,4.000000,2019.000000,7.000000,20.000000
max,1.769386e+07,14246.000000,2.000000e+09,73.184088,80.161430,403.000000,124444.000000,3.388000e+07,68.000000,2019.000000,12.000000,30.000000

In [21]:
print(sami.columns)

Index(['property_id', 'location_id', 'page_url', 'property_type', 'price',
       'price_bin', 'location', 'city', 'province_name', 'locality',
       'latitude', 'longitude', 'baths', 'area', 'area_marla', 'area_sqft',
       'purpose', 'bedrooms', 'date_added', 'year', 'month', 'day', 'agency',
       'agent'],
      dtype='object')

In [22]:
order = list(np.sort(sami['location_id'].unique()))
order

[1,
 2,
 3,
 4,
 5,
 7,
 8,
 9,
 11,
 12,
 13,
 16,
 41,
 48,
 52,
 58,
 64,
 67,
 69,
 75,
 79,
 81,
 88,
 93,
 96,
 107,
 128,
 145,
 146,
 153,
 154,
 156,
 157,
 158,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 177,
 180,
 181,
 184,
 187,
 198,
 213,
 217,
 224,
 225,
 230,
 232,
 233,
 235,
 240,
 241,
 244,
 251,
 253,
 254,
 255,
 258,
 265,
 267,
 271,
 274,
 277,
 278,
 282,
 290,
 301,
 304,
 310,
 313,
 314,
 317,
 319,
 324,
 325,
 326,
 328,
 329,
 330,
 331,
 332,
 333,
 335,
 336,
 338,
 339,
 340,
 342,
 343,
 348,
 352,
 356,
 359,
 360,
 369,
 371,
 373,
 374,
 375,
 376,
 377,
 378,
 381,
 383,
 387,
 401,
 402,
 403,
 404,
 406,
 407,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 423,
 424,
 426,
 427,
 428,
 429,
 431,
 433,
 434,
 437,
 438,
 439,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 456,
 458,
 467,
 468,
 469,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 483,
 485,
 487,
 488,
 489,
 490,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 501,
 508,
 509,
 510,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 547,
 561,
 562,
 563,
 566,
 570,
 571,
 573,
 574,
 575,
 576,
 580,
 582,
 584,
 587,
 614,
 615,
 616,
 617,
 627,
 632,
 634,
 635,
 637,
 638,
 639,
 640,
 642,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 668,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 685,
 686,
 687,
 688,
 706,
 708,
 709,
 710,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 737,
 738,
 739,
 743,
 747,
 748,
 749,
 750,
 755,
 756,
 757,
 758,
 759,
 760,
 763,
 764,
 766,
 768,
 774,
 780,
 781,
 783,
 893,
 929,
 957,
 973,
 1006,
 1007,
 1011,
 1012,
 1013,
 1014,
 1019,
 1020,
 1023,
 1024,
 1026,
 1027,
 1028,
 1032,
 1033,
 1039,
 1040,
 1041,
 1045,
 1046,
 1047,
 1050,
 1052,
 1053,
 1055,
 1057,
 1058,
 1063,
 1068,
 1073,
 1077,
 1078,
 1080,
 1081,
 1101,
 1102,
 1103,
 1104,
 1105,
 1106,
 1107,
 1108,
 1112,
 1118,
 1127,
 1128,
 1129,
 1130,
 1131,
 1134,
 1140,
 1141,
 1144,
 1146,
 1156,
 1161,
 1164,
 1167,
 1168,
 1170,
 1171,
 1194,
 1210,
 1211,
 1212,
 1215,
 1216,
 1217,
 1219,
 1225,
 1228,
 1229,
 1230,
 1232,
 1240,
 1241,
 1242,
 1243,
 1246,
 1252,
 1253,
 1254,
 1260,
 1265,
 1266,
 1267,
 1269,
 1270,
 1271,
 1273,
 1283,
 1285,
 1287,
 1289,
 1290,
 1291,
 1297,
 1300,
 1304,
 1312,
 1314,
 1315,
 1316,
 1321,
 1325,
 1327,
 1329,
 1333,
 1335,
 1336,
 1337,
 1338,
 1339,
 1343,
 1344,
 1345,
 1347,
 1348,
 1350,
 1353,
 1354,
 1355,
 1356,
 1357,
 1359,
 1360,
 1361,
 1362,
 1363,
 1365,
 1367,
 1368,
 1369,
 1370,
 1372,
 1378,
 1380,
 1381,
 1382,
 1383,
 1387,
 1388,
 1393,
 1394,
 1398,
 1404,
 1406,
 1407,
 1408,
 1410,
 1413,
 1414,
 1417,
 1418,
 1419,
 1420,
 1421,
 1429,
 1439,
 1440,
 1442,
 1444,
 1446,
 1447,
 1448,
 1450,
 1451,
 1452,
 1454,
 1455,
 1456,
 1457,
 1459,
 1460,
 1463,
 1464,
 1466,
 1467,
 1468,
 1471,
 1472,
 1473,
 1474,
 1477,
 1478,
 1479,
 1480,
 1481,
 1482,
 1483,
 1484,
 1485,
 1487,
 1490,
 1491,
 1492,
 1494,
 1499,
 1503,
 1504,
 1505,
 1508,
 1511,
 1512,
 1514,
 1515,
 1516,
 1517,
 1520,
 1534,
 1535,
 1536,
 1537,
 1538,
 1540,
 1541,
 1542,
 1543,
 1544,
 1547,
 1548,
 1549,
 1550,
 1551,
 1552,
 1553,
 1554,
 1555,
 1556,
 1559,
 1560,
 1561,
 1563,
 1564,
 1565,
 1566,
 1567,
 1568,
 1569,
 1570,
 1571,
 1572,
 1573,
 1574,
 1575,
 1584,
 1585,
 1586,
 1587,
 1588,
 1589,
 1590,
 1591,
 1592,
 1593,
 1594,
 1595,
 1596,
 1597,
 1598,
 1599,
 1600,
 1601,
 1602,
 1603,
 1604,
 1605,
 1606,
 1607,
 1608,
 1610,
 1611,
 1612,
 1613,
 1614,
 1615,
 1616,
 1617,
 1618,
 1619,
 1620,
 1621,
 1622,
 1623,
 1624,
 1625,
 1626,
 1627,
 1629,
 1630,
 1631,
 1632,
 1633,
 1634,
 1637,
 1641,
 1642,
 1644,
 1645,
 1646,
 1649,
 1650,
 1651,
 1652,
 1653,
 1654,
 1655,
 1657,
 1663,
 1664,
 1665,
 1666,
 1667,
 1668,
 1669,
 1670,
 1671,
 1672,
 1673,
 1674,
 1675,
 1676,
 1677,
 1678,
 1679,
 1680,
 1681,
 1682,
 1683,
 1684,
 1694,
 1696,
 1697,
 1705,
 1706,
 1709,
 1710,
 1711,
 1713,
 1718,
 1724,
 1769,
 1771,
 1772,
 1773,
 1774,
 1775,
 1776,
 1777,
 1778,
 1779,
 1780,
 1781,
 1782,
 1784,
 1785,
 1786,
 1787,
 1788,
 1789,
 1790,
 1791,
 1792,
 1793,
 1794,
 1795,
 1796,
 1797,
 1798,
 1799,
 1800,
 1801,
 1802,
 1803,
 1804,
 1805,
 1806,
 1807,
 1808,
 1809,
 1811,
 1812,
 1813,
 1814,
 1815,
 1816,
 3023,
 3024,
 3025,
 3026,
 3027,
 3028,
 3029,
 3030,
 3031,
 3033,
 3034,
 3035,
 3036,
 3037,
 3038,
 3039,
 3040,
 3041,
 3042,
 3043,
 3044,
 3045,
 3046,
 3047,
 3048,
 3049,
 3050,
 3051,
 3052,
 3053,
 3054,
 3055,
 3056,
 3057,
 3062,
 3063,
 3064,
 3066,
 3067,
 3068,
 3069,
 3070,
 3071,
 3072,
 3073,
 3074,
 3075,
 3076,
 3078,
 3079,
 3080,
 3081,
 3082,
 3086,
 3088,
 3089,
 3090,
 3092,
 3093,
 3095,
 3096,
 3097,
 3098,
 3099,
 3100,
 3101,
 3102,
 3104,
 3105,
 3106,
 3107,
 3109,
 3110,
 3111,
 3112,
 3113,
 3114,
 3115,
 3116,
 3117,
 3118,
 3120,
 3121,
 3122,
 3124,
 3125,
 3130,
 3132,
 3136,
 3138,
 3147,
 3148,
 3149,
 3150,
 3151,
 3153,
 3154,
 3155,
 3156,
 3157,
 3158,
 3160,
 3161,
 3162,
 3163,
 3164,
 3165,
 3180,
 3185,
 3188,
 3189,
 3190,
 3191,
 3192,
 3193,
 3194,
 3195,
 3196,
 3197,
 3198,
 3199,
 3200,
 3201,
 3202,
 3203,
 3205,
 3213,
 3214,
 3216,
 3226,
 3227,
 3228,
 3229,
 3230,
 3231,
 3233,
 3234,
 3235,
 3236,
 3237,
 3238,
 3239,
 3240,
 3241,
 3242,
 3243,
 3246,
 3248,
 3249,
 3250,
 3258,
 3259,
 3260,
 3262,
 3266,
 3268,
 3269,
 3276,
 3277,
 3278,
 3279,
 3280,
 3281,
 3282,
 3283,
 3284,
 3285,
 3286,
 3288,
 3291,
 3293,
 3294,
 3295,
 3299,
 3300,
 3301,
 3302,
 3303,
 3306,
 3307,
 3308,
 3309,
 3310,
 3311,
 3313,
 3314,
 3315,
 3316,
 3317,
 3318,
 3320,
 3321,
 3324,
 3325,
 3326,
 3327,
 3328,
 3329,
 3330,
 3331,
 3332,
 3333,
 3334,
 3335,
 3336,
 3337,
 3338,
 3339,
 3340,
 3341,
 3342,
 3343,
 3344,
 3346,
 3348,
 3349,
 3350,
 3351,
 3352,
 3353,
 3355,
 3358,
 3361,
 3363,
 3364,
 3365,
 3366,
 3369,
 3370,
 3371,
 3372,
 3373,
 3376,
 3377,
 3379,
 3380,
 3384,
 3385,
 3386,
 3387,
 3388,
 3390,
 3391,
 3392,
 3393,
 3394,
 3395,
 3396,
 3397,
 3398,
 3403,
 3404,
 3405,
 3411,
 3415,
 3419,
 3420,
 3421,
 3422,
 3423,
 3424,
 3426,
 3427,
 3428,
 3429,
 3433,
 3434,
 3436,
 3437,
 3441,
 3442,
 3443,
 3444,
 3445,
 3447,
 3450,
 3451,
 3453,
 3454,
 3456,
 3458,
 3460,
 3461,
 3463,
 3464,
 3467,
 3468,
 3469,
 3470,
 3471,
 3472,
 3474,
 3475,
 3477,
 3482,
 3485,
 3486,
 3487,
 3491,
 3492,
 3493,
 3494,
 ...]

In [23]:
order = list(np.sort(sami['property_type'].unique()))
order

['Farm House',
 'Flat',
 'House',
 'Lower Portion',
 'Penthouse',
 'Room',
 'Upper Portion']

In [24]:
order = list(np.sort(sami['baths'].unique()))
order

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 403]

In [25]:
sami.corr

<bound method DataFrame.corr of         property_id  location_id  \
0            347795            8
1            482892           48
2            555962           75
3            562843         3821
4            686990         3522
...             ...          ...
191388     17468383          174
191389     17468384          174
191390     17468482          167
191391     17468586          339
191392     17468660         3421

                                                 page_url  property_type  \
0       https://www.zameen.com/Property/lahore_model_t...          House
1       https://www.zameen.com/Property/lahore_multan_...          House
2       https://www.zameen.com/Property/eden_eden_aven...          House
3       https://www.zameen.com/Property/gulberg_2_gulb...          House
4       https://www.zameen.com/Property/allama_iqbal_t...          House
...                                                   ...            ...
191388  https://www.zameen.com/Property/islamabad_i_8_...  Upper Portion
191389  https://www.zameen.com/Property/islamabad_i_8_...  Upper Portion
191390  https://www.zameen.com/Property/islamabad_g_10...          House
191391  https://www.zameen.com/Property/dha_defence_dh...           Flat
191392  https://www.zameen.com/Property/i_10_i_10_2_i_...  Upper Portion

            price  price_bin           location       city      province_name  \
0       220000000  Very High         Model Town     Lahore             Punjab
1        40000000  Very High        Multan Road     Lahore             Punjab
2         9500000        Low               Eden     Lahore             Punjab
3       125000000  Very High            Gulberg     Lahore             Punjab
4        21000000       High  Allama Iqbal Town     Lahore             Punjab
...           ...        ...                ...        ...                ...
191388      70000  Very High                I-8  Islamabad  Islamabad Capital
191389      40000     Medium                I-8  Islamabad  Islamabad Capital
191390     160000       High               G-10  Islamabad  Islamabad Capital
191391      25000        Low        DHA Defence  Islamabad  Islamabad Capital
191392      26000        Low               I-10  Islamabad  Islamabad Capital

                                         locality  ...  area_marla  area_sqft  \
0                      Model Town, Lahore, Punjab  ...       120.0   32670.12
1                     Multan Road, Lahore, Punjab  ...        20.0    5445.02
2                            Eden, Lahore, Punjab  ...         9.0    2450.26
3                         Gulberg, Lahore, Punjab  ...        20.0    5445.02
4               Allama Iqbal Town, Lahore, Punjab  ...        11.0    2994.76
...                                           ...  ...         ...        ...
191388          I-8, Islamabad, Islamabad Capital  ...        12.4    3375.91
191389          I-8, Islamabad, Islamabad Capital  ...        12.4    3375.91
191390         G-10, Islamabad, Islamabad Capital  ...        20.0    5445.02
191391  DHA Defence, Islamabad, Islamabad Capital  ...         2.7     735.08
191392         I-10, Islamabad, Islamabad Capital  ...         0.0       0.00

         purpose bedrooms  date_added  year month  day  \
0       For Sale        0  07-17-2019  2019     7   17
1       For Sale        5  10-06-2018  2018    10    6
2       For Sale        3  07-03-2019  2019     7    3
3       For Sale        8  04-04-2019  2019     4    4
4       For Sale        6  04-04-2019  2019     4    4
...          ...      ...         ...   ...   ...  ...
191388  For Rent        3  07-24-2019  2019     7   24
191389  For Rent        2  07-24-2019  2019     7   24
191390  For Rent        6  07-24-2019  2019     7   24
191391  For Rent        2  07-24-2019  2019     7   24
191392  For Rent        3  07-24-2019  2019     7   24

                         agency                             agent
0        Real Biz International                        Usama Khan
1                   Khan Estate                  mohsinkhan and B
2               Shahum Estate 2           Babar Hameed, Raja Omar
3                           NaN                               NaN
4                           NaN                               NaN
...                         ...                               ...
191388           Property World                            Zafran
191389           Property World                            Zafran
191390         Azaan Associates                      Usman Rehman
191391  New National Properties                TALHA   MIAN AHMAD
191392             Select Homes  Qaiser Shahzad, Chaudhary Waseem

[191393 rows x 24 columns]>

In [26]:
# Printing Outliers
#from sklearn import outliers_indices
#print("Number of Outliers:", len(outliers_indices[0]), "with Threshold:", thresh)
#outliers_data = sami.iloc[list(set(outliers_indices[0]))]

In [27]:
my_data = sami.drop(
    ['property_id','location_id','page_url','location','latitude','longitude','locality','area',
     'date_added','agency','agent','area_marla','area_sqft','year','price_bin','month','day','purpose'], axis = 1)

In [28]:
my_data.head()

  property_type      price    city province_name  baths  bedrooms
0         House  220000000  Lahore        Punjab      0         0
1         House   40000000  Lahore        Punjab      5         5
2         House    9500000  Lahore        Punjab      0         3
3         House  125000000  Lahore        Punjab      7         8
4         House   21000000  Lahore        Punjab      5         6

In [29]:
my_data['property_type'] = my_data['property_type'].astype('category').cat.codes
my_data['city'] = my_data['city'].astype('category').cat.codes
my_data['province_name'] = my_data['province_name'].astype('category').cat.codes

In [30]:
my_data.head()

   property_type      price  city  province_name  baths  bedrooms
0              2  220000000     3              1      0         0
1              2   40000000     3              1      5         5
2              2    9500000     3              1      0         3
3              2  125000000     3              1      7         8
4              2   21000000     3              1      5         6

In [31]:
order = list(my_data['property_type'].unique())
print(order)

[2, 1, 3, 4, 6, 0, 5]

In [32]:
order = list(my_data['province_name'].unique())
print(order)

[1, 2, 0]

In [33]:
X = my_data.drop('price', axis=1)
y = my_data['price']

In [34]:
X

        property_type  city  province_name  baths  bedrooms
0                   2     3              1      0         0
1                   2     3              1      5         5
2                   2     3              1      0         3
3                   2     3              1      7         8
4                   2     3              1      5         6
...               ...   ...            ...    ...       ...
191388              6     1              0      0         3
191389              6     1              0      0         2
191390              2     1              0      6         6
191391              1     1              0      2         2
191392              6     1              0      1         3

[191393 rows x 5 columns]

In [35]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=50)

In [42]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()

# Training Model
model.fit(X_train,y_train)

# Model Summary
model.fit(X_train,y_train)
print("Score :",model.score(X_test,y_test))

Score : 0.22555217180570275

In [43]:
from sklearn import linear_model
br=linear_model.BayesianRidge()
br.fit(X_train,y_train)
print("Score :",br.score(X_test,y_test))

Score : 0.10191459160081362

In [36]:
# Model Building
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
lr = LinearRegression()

# Training Model
lr.fit(X_train,y_train)

# Model Summary
y_pred_lr = lr.predict(X_test)

r_squared = r2_score(y_test,y_pred_lr)
rmse = np.sqrt(mean_squared_error(y_test,y_pred_lr))
print("R_squared :",r_squared)

R_squared : 0.10191006104481448

In [37]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor()

# Training Model
rf.fit(X_train,y_train)

# Model Summary
y_pred_rf = rf.predict(X_test)

r_squared = r2_score(y_test,y_pred_rf)
rmse = np.sqrt(mean_squared_error(y_test,y_pred_rf))
print("R_squared :",r_squared)

R_squared : 0.22481285900790637

In [38]:
from sklearn import *
from sklearn.ensemble import GradientBoostingRegressor
gbt = GradientBoostingRegressor()

# Training Model
gbt.fit(X_train,y_train)

# Model Summary
y_pred_gbt = gbt.predict(X_test)

r_squared = r2_score(y_test,y_pred_gbt)
rmse = np.sqrt(mean_squared_error(y_test,y_pred_gbt))
print("R_squared :",r_squared)

R_squared : 0.21254782100415104

In [44]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier()
ada.fit(X_train,y_train)
print("Score:",ada.score(X_test,y_test))

MemoryError: Unable to allocate 2.25 GiB for an array with shape (153114, 1969) and data type float64

In [40]:
from sklearn.ensemble import AdaBoostClassifier
ab = AdaBoostClassifier
ab.fit(X_train,y_train)
y_pred_ab = ab.predict(X_test)
r_squared = r2_score(y_test,y_test_ab)
rmse = np.sqrt(mean_squared_error(y_test,y_pred_ab))
print("R_squared :",r_squared)

TypeError: fit() missing 1 required positional argument: 'y'

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
sami = RandomForestRegressor()
sami.fit(X_train,y_train)

In [ ]:
y_pred = sami.predict(X)
print(y_pred)

In [ ]:
import gzip, pickle
with gzip.open('test2.pklz', 'wb') as ofp:
    pickle.dump([1,2,3], ofp)

In [ ]:
import pickle,gzip
with gzip.open('test2.pklz', 'rb') as ifp:
    print(pickle.load(ifp))

In [ ]:
import pickle,gzip
filename = 'hpredictor.PKL'
pickle.dump(sami, open(filename, 'wb'))

In [ ]:
import joblib

In [ ]:
loaded_model = joblib.load('hpredictor.PKL')
print("Model loaded succesfully")

# testing

In [ ]:
from joblib import dump, load
import numpy as np
model = load('hpredictor.PKL') 
testing = np.array([[  1.65706017,
       -0.01012012,  1.45548401,  0.2623382 ,
       -0.98481068]])
model.predict(testing)